*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    width: 100vw;
    height: 100vh;
    background-color: rgb(249, 249, 248);
   
    
}
header{
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  color:#3D5A23;
  border-top: solid 2px #3D5A23;
  border-bottom: solid 1px #3D5A23;
  
}
#logo {
    width: 20vw;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 2px;
    display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 10vw;
   
  }
  .menu{

    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 45px;
  
  }
  li{
      list-style-type: none;
      align-items: center;
  }
  #icons {
    width: 20vw;
    display: flex;
  
    justify-content: space-evenly;
    align-items: center;
  }
  
  #icons svg {
    width: 2vw;
    
  }
  .login{
      display: flex;
      align-items: center;
  }
  main{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:center;
}
  .secao-principal{
      padding-left: 16vw;
      display:inline-block;
      margin-top: 10vh;
      
     
  }
  .title1{
      font-size: 40px;
      color:#3D5A23
  }
  .paragrafo-principal{
      font-size: 20;
      color: #3D5A23;
  }
  .title {
      color: #3D5A23;
      font-size: 25px;
  }
  #produtos{
      position:relative;
      padding-left: 200px;
      padding-right: 200px;
      margin-bottom: 15vh;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
  }
  footer{
    width: 100vw;
    height: 30vh;
    line-height: 5vh;
    padding-bottom: 6vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    color:#1E2B11;
    border-top: solid 1px #3D5A23;
    border-bottom: solid 1px #3D5A23; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.box_footer{
    width: 12vw;
    height: 15vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.list_footer{
    list-style: none;
    width: 40vw;
    height: 10vh;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

}